autopep8
PyQt5
beautifulsoup4
flake8
folium
ipython
japanize-matplotlib
Jinja2
joblib
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
matplotlib
matplotlib-inline
notebook
numpy
opencv-python
pandas
pep8
Pillow
pip-review
QtPy
requests
scipy
tqdm
xlrd
XlsxWriter
